@page "/"
@inject NavigationManager NavigationManager
<h3>Personal Finance Tracker</h3>
<div>
	<p>
		Welcome to the Personal Finance Tracker! This application helps you manage your personal finances by tracking your incomes and expenses.
	</p>
	<p>
		Use the links below to navigate to the Incomes and Expenses sections.
	</p>
</div>
<a href="/incomes" class="btn btn-primary shadow-none ms-3">
	Incomes 
</a>
<a href="/expenses" class="btn btn-primary shadow-none ms-3">
	Expenses 
</a>

@code {

}
