@page "/edit/expense/{id:int}"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
<PageTitle>
	Edit expense
</PageTitle>

<div class="row justify-content-center">
	<div class="col-6">
		<ExpenseForm IsEdit="true" ExpenseId="@Id" OnValidExpenseSubmit="SubmitExpense" />
	</div>	
</div>
@code {
	
	[Parameter]
	public int Id { get; set; }

	private async Task SubmitExpense(Expense expense)
	{
		var response = await HttpClient.PutAsJsonAsync($"Expense/{expense.Id}", expense);

		if (response.IsSuccessStatusCode)
		{
			NavigationManager.NavigateTo("/expenses");
		}			
	}
}
